@page
@model YashenWebApp.Pages.CompanyModel
@{
    ViewData["Title"] = "公司概况";
}

<h1>@ViewData["Title"]</h1>
<p class="w-75 p-0 mt-3">亚申科技（浙江）有限公司位于浙江省绍兴市柯桥经济开发区，由美国加州理工和硅谷、中国复旦大学、北京大学、浙江大学一批科研和工程技术人员创建发展。注册资金1.01亿元。</p>
<p class="w-75 p-0">亚申科技是世界领先的高通量技术专业公司。亚申自主开发，设计，建造的高通量材料开发技术平台，以比常规实验快百倍的速度，在催化剂筛选、考评、测试以及工艺研发、过程优化等方面形成了显著效率与技术优势。在数年时间里，跻身国际清洁能源百强企业，与国内外众多能源公司，科研院所建立合作关系；自主研发了多种新型催化材料、相关工艺及应用技术；申请发明专利超过210项。</p>

<p class="p-0">
        <figure class="figure">
            <img src="./img/company1.jpg" class="figure-img img-fluid rounded" alt="company1">
            <figcaption class="figure-caption">亚申大楼</figcaption>
        </figure>
        <figure class="figure">
            <img src="./img/company2.jpg" class="figure-img img-fluid rounded" alt="company2">
            <figcaption class="figure-caption">实验研究</figcaption>
        </figure>
        <figure class="figure">
            <img src="./img/company3.jpg" class="figure-img img-fluid rounded" alt="company3">
            <figcaption class="figure-caption">工艺开发</figcaption>
        </figure>
        <figure class="figure">
            <img src="./img/company4.jpg" class="figure-img img-fluid rounded" alt="company4">
            <figcaption class="figure-caption">装备建造</figcaption>
        </figure>
</p>

<p class="w-75 p-0 lead text-success">
    公司的核心业务包括：
    <ul>
        <li class="w-75 p-1">先进科研装备的研发，设计和制造<p>拥有完全自主知识产权的16通道平行反应器系统是亚申先进科研装备的主导产品，它既支撑了亚申的合作研发和自主研发，同时获得了如中科院、国际国内知名企业、高校等诸多用户的赞赏。</p></li>
        <li class="w-75 p-1">新材料新能源领域的合作研发<p>亚申科技与国际国内能源公司在诸多技术领域进行了合作研发，研发领域涉及：加氢催化剂，甲烷化催化剂，MTP/MTO催化剂，离子液体，储氢材料，燃料电池，分离膜技术等。</p></li>
        <li class="w-75">洁净和替代能源领域的自主研发<p>亚申科技利用其特有的高通量技术平台和国际资源进行自主研发，已成功开发了紧凑型费托合成技术、碳酸二甲酯生产技术、无烟柴油应用技术三项洁净能源领域新技术，前两个技术都已经完成中试、进入商业合作阶段。</p></li>
    </ul>
</p>
<p class="w-75 p-0 lead text-success">领导团队:</p>
<div class="container">
    <div class="row text-left">
        <div class="col-md-3 border border-light rounded">
            <img src="~/img/jane.jpg" class="rounded" alt="...">
            <div class="card-body text-left">
                <h5 class="card-title">权华博士，总裁，董事长，公司创始人</h5>
                <p class="card-text">
                    <ul class="p-0">
                        <li>国家特聘专家</li>
                        <li>超过20年产品开发、项目管理、组织运营经验</li>
                        <li>在Baxter、Systemax, Coulter等世界领先的技术公司担任重要的技术、管理职务</li>
                        <li>纽约州立大学化学博士，复旦大学化学学士</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-md-3 border border-light rounded">
            <img src="~/img/yq.jpg" class="rounded" alt="...">
            <div class="card-body text-left">
                <h5 class="card-title">王尤崎博士，首席技术官，公司创始人</h5>
                <p class="card-text">
                    <ul class="p-0">
                        <li>国家特聘专家</li>
                        <li>高通量技术专家</li>
                        <li>15项以上相关美国专利和专利申请的发明人</li>
                        <li>加州理工学院化学博士，复旦大学化学学士和硕士</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-md-3 border border-light rounded">
            <img src="~/img/steve.jpg" class="rounded" alt="...">
            <div class="card-body text-left">
                <h5 class="card-title">华新雷博士，副总裁</h5>
                <p class="card-text">
                    <ul class="p-0">
                        <li>上海特聘专家</li>
                        <li>首航财务管理顾问有限公司首席运营官</li>
                        <li>Morgan Stanley 咨询顾问</li>
                        <li>加州理工学院物理博士，北京大学物理学士</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-md-3 border border-light rounded">
            <img src="~/img/xunwen.jpg" class="rounded" alt="...">
            <div class="card-body text-left">
                <h5 class="card-title">王讯文，副总裁,产业化</h5>
                <p class="card-text">
                    <ul class="p-0">
                        <li>20多年化工行业技术开发、建厂运营、技术与产品推广和大型化工工程项目筹建和独立指挥经验</li>
                        <li>曾成功指挥亚洲最大的化工装置的建设和投产</li>
                        <li>浙江大学MBA，杭州大学化学学士</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
