@page
@model YashenWebApp.Pages.DMCModel
@{ 
    ViewData["Title"] = "柴油酯生产";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p class="w-75 mt-3">
        柴油酯（DMC－碳酸二甲酯）被世界各国认定为二十一世纪重要的绿色环保化学品，在医药、化工、环保和能源领域有广泛的应用。
    </p>
    <img decoding="async" src="~/img/dmc1.jpg" class="rounded-0 w-75" alt="dmc1">
    <p class="w-75 mt-3">
        亚申科技柴油酯生产技术的核心优势在于大幅降低了其生产成本，以甲醇和二氧化碳作为生产原料，它不仅给产能过剩的甲醇行业展现了一条新出路，同时开拓了二氧化碳再利用的新路。
    </p>
    <p class="w-75">亚申费托合成技术、无烟柴油生产技术以及柴油酯生产技术可洁净且高效地生产替代燃油和高值石化替代产品，整个工艺、产品加工和应用过程均绿色环保。此外，其突出的经济性优势，也为开创生产厂家、用户和环境“三赢”局面，快速实现产业化奠定了坚实的基础。</p>
</div>
