@page
@model YashenWebApp.Pages.HTDModel
@{
    ViewData["Title"] = "直接气化装置GH-401";
}
<h1>@ViewData["Title"]</h1>

<p class="w-75 mt-3">采用亚申专有移动床技术设计和建造的煤炭、生物质、城市废质=>直接气化制氢、CO装置。</p>

<div class="">
    <img decoding="async" src="./img/gasifier_1.jpg" class="rounded-0 w-75" alt="gasifier_1">
</div>

<p class="w-75 p-0 mt-3 lead text-success">
    典型 1~10kg/Hr 处理量的高温、高压气化系统组成：
    <ul>
        <li class="w-75">典型1~10kg/Hr自动进料器（原料为干湿煤粉颗粒，破碎后有机生物质，城市废质等）K-701</li>
        <li class="w-75">进气模块FICA-102</li>
        <li class="w-75">平衡气模块FICA-602</li>
        <li class="w-75">进液（水）模块FICA-403</li>
        <li class="w-75">Max. 1090℃高温加热器模块TICA-801</li>
        <li class="w-75">Max. 2MPa压力控制模块PCV-503</li>
        <li class="w-75">1、2级换热器模块E-203、204</li>
        <li class="w-75">除尘模块（布袋，静电）TICA-210、211</li>
        <li class="w-75">200℃气体循环泵和气体循环模块HIC-301</li>
        <li class="w-75">气液分离模块V-502</li>
        <li class="w-75">尾气燃烧模块（PFD图未包含）</li>
        <li class="w-75">H2、CO气体检测器</li>
        <li class="w-75">安全保护系统</li>
    </ul>
</p>

<div class="">
    <img decoding="async" src="./img/gasifier_2.jpg" class="rounded-0 w-75" alt="gasifier_2">
</div>

<p class="w-75 mt-3">
    亚申气化装置GH-401高温区材质为正品310不锈钢、哈氏合金。主要器件为业界知名品牌产品，Bronkhorst气体质量控制器、Swagelok管阀、Watlow加热器、Omega测温元件、依博罗刀闸阀、松下控制器、台达伺服。
</p>
<p class="w-75 mt-3">亚申气化装置GH-401配备完备、多层级的安全保护系统。</p>
<p class="w-75 mt-3">亚申为中国大陆境内装置7*24小时运行，提供完善的技术服务，备品备件供应。</p>


    
    