@page
@model YashenWebApp.Pages.HTDModel
@{
    ViewData["Title"] = "高通量加速平台";
}
<h1>@ViewData["Title"]</h1>

<p class="w-75 mt-3">亚申科技是世界领先的高通量技术专业公司。亚申自主开发，设计，建造的高通量材料开发技术平台，以比常规实验快百倍的速度，在催化剂筛选、考评、测试以及工艺研发、过程优化等方面形成了显著效率与技术优势。在数年时间里，跻身国际清洁能源百强企业，与国内外众多能源公司，科研院所建立合作关系；自主研发了多种新型催化材料、相关工艺及应用技术；申请发明专利超过210项。</p>

<p class="w-75 text-success lead font-weight-bold">
    亚申科技高通量技术特点：快速、高效、系统化
    <div class="container p-0">
        <div class="row">
            <img src="./img/htd1.jpg" class="figure-img img-fluid rounded mt-2 col-md-8 offset-1" alt="htd1">
        </div>
        <div class="row">
            <img src="./img/htd2_1.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_1">
            <img src="./img/htd2_4.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_4">
            <img src="./img/htd2_7.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_7">
            <img src="./img/htd2_10.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_10">
            <img src="./img/htd2_13.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_13">
        </div>
        <div class="row">
            <img src="./img/htd2_2.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_2">
            <img src="./img/htd2_5.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_5">
            <img src="./img/htd2_8.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_8">
            <img src="./img/htd2_11.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_11">
            <img src="./img/htd2_14.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_14">
        </div>
        <div class="row">
            <img src="./img/htd2_3.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_3">
            <img src="./img/htd2_6.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_6">
            <img src="./img/htd2_9.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_9">
            <img src="./img/htd2_12.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_12">
            <img src="./img/htd2_15.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd2_15">
        </div>
    </div>
</p>

<p class="w-75">亚申利用自主高通量技术和128通道/32通道/16通道高通量平行反应器系统，在短短几年时间里完成了费托合成等工艺的催化剂配方与制备条件筛选、本征动力学研究、成型催化剂传质研究、反应器床层内传热研究、失活老化再生处理研究以及示范装置开车流程与运行工况优化，顺利达到了可产业化水平。</p>
<p class="w-75 text-success lead font-weight-bold">
    亚申科技将高通量技术应用于研发和放大的全过程
    <div class="container p-0">
        <div class="row">
            <img src="./img/htd3_1.jpg" class="figure-img img-fluid rounded col-md-1" alt="htd3_1">
            <img src="./img/htd3_5.jpg" class="figure-img img-fluid rounded col-md-2 offset-2" alt="htd3_5">
        </div>
        <div class="row">
            <img src="./img/htd3_2.jpg" class="figure-img img-fluid rounded col-md-1 offset-1" alt="htd3_2">
            <img src="./img/htd3_6.jpg" class="figure-img img-fluid rounded col-md-2 offset-2" alt="htd3_6">
        </div>
        <div class="row">
            <p class="col-md-2">支持自顶向下、或自底向上开发</p>
            <img src="./img/htd3_3.jpg" class="figure-img img-fluid rounded col-md-1" alt="htd3_3">
            <img src="./img/htd3_7.jpg" class="figure-img img-fluid rounded col-md-2 offset-2" alt="htd3_7">
        </div>
        <div class="row">
            <p class="col-md-3 text-right">全过程工艺开发与优化</p>
            <img src="./img/htd3_4.jpg" class="figure-img img-fluid rounded col-md-2" alt="htd3_4">
            <img src="./img/htd3_8.jpg" class="figure-img img-fluid rounded col-md-2 offset-1" alt="htd3_8">
        </div>
    </div>
</p>
<p class="w-75">过去数年里，亚申科技基于其专有的高通量技术与合作伙伴在诸多技术领域进行了合作研发，研发领域涉及：加氢催化剂，甲烷化催化剂，MTP/MTO催化剂，离子液体，储氢材料，燃料电池，分离膜技术等。用某公司首席科学家的话说：亚申用了10个月的时间完成了他们需要50年才可以完成的试验任务。</p>
<p class="w-75">亚申科技利用其特有的高通量技术平台和国际资源进行自主研发，已成功开发了费托合成和尿素醇解法生产碳酸二甲酯两项洁净能源领域新技术。在不到5年的时间里，这两个技术都已经进入中试阶段。</p>