@page
@model YashenWebApp.Pages.HTEModel
@{
    ViewData["Title"] = "高通量设备";
}
<h1>@ViewData["Title"]</h1>

<p class="mt-3">亚申基于其拥有完全自主知识产权的高通量平行反应设计技术，为客户定制用于催化剂测试的先进高通量系统/平台。</p>

<div id="carouselExampleCaptions" class="carousel slide w-75" data-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-target="#carouselExampleCaptions" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-target="#carouselExampleCaptions" data-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-target="#carouselExampleCaptions" data-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/hte1_1.jpg" class="d-block w-100" alt="hte1_1">
            <div class="carousel-caption d-none d-md-block">
                <h5>MPRS-16系统</h5>
                <p>研究级 16 通道高通量滴流床平行反应器</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/hte1_2.jpg" class="d-block w-100" alt="hte1_2">
            <div class="carousel-caption d-none d-md-block">
                <h5>PRS-12系统</h5>
                <p>工业级 12 通道高通量平行费托合成 / 加氢反应系统</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/hte1_3.jpg" class="d-block w-100" alt="hte1_3">
            <div class="carousel-caption d-none d-md-block">
                <h5>PPSR-16系统</h5>
                <p>高通量 16 通道全自动平行搅拌反应釜系统</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<p class="w-75 p-0 mt-3 lead text-success">
    亚申高通量设备优势：
    <ul>
        <li class="w-75">用于工业实际应用级别的催化剂筛选和评价</li>
        <li class="w-75">用于反应动力学，传质传热，质量平衡，物种平衡，反应建模的研究</li>
        <li class="w-75">高通量设备系统，常规设备和其他实验室仪器与软件平台的自动化无缝连接</li>
        <li class="w-75">集成完善的安全保护机制，可根据不同反应特点进行配置</li>
        <li class="w-75">搭载完全自主知识产权的商用高通量数据管理平台，扩展便利，接口可与第三方软件（LMS，KDD等）集成，并可根据客户需要进行定制。</li>
    </ul>
</p>

<p class="p-0">
    <figure class="figure">
        <img src="./img/hte2_1.jpg" class="figure-img img-fluid rounded" alt="hte2_1">
        <figcaption class="figure-caption">MRS微反应器</figcaption>
    </figure>
    <figure class="figure">
        <img src="./img/hte2_2.jpg" class="figure-img img-fluid rounded" alt="hte2_2">
        <figcaption class="figure-caption">PRS-16通道固定床</figcaption>
    </figure>
    <figure class="figure">
        <img src="./img/hte2_3.jpg" class="figure-img img-fluid rounded" alt="hte2_3">
        <figcaption class="figure-caption">MPRS-16串联固定床</figcaption>
    </figure>
    <figure class="figure">
        <img src="./img/hte2_4.jpg" class="figure-img img-fluid rounded" alt="hte2_4">
        <figcaption class="figure-caption">MPRS-8高温固定床</figcaption>
    </figure>
    <figure class="figure">
        <img src="./img/hte2_5.jpg" class="figure-img img-fluid rounded" alt="hte2_5">
        <figcaption class="figure-caption">SRU熔盐浴固定床</figcaption>
    </figure>
</p>

<p class="w-75 p-0 lead text-success">
    亚申高通量企业优势：
    <ul>
        <li class="w-75">丰富的利用高通量装备和系统进行合作研发和自主研发的经验可以分享</li>
        <li class="w-75">可以根据需求对系统进行后续的软硬件扩展开发，持续提升系统应用领域</li>
        <li class="w-75">无时差，小空间距离的24小时技术咨询和技术支持</li>
        <li class="w-75">可以对大批量，多批次的应用人员进行现场使用培训。</li>
    </ul>
</p>

<p class="p-0">
    <figure class="figure">
        <img src="./img/hte3_1.jpg" class="figure-img img-fluid rounded" alt="hte3_1">
        <figcaption class="figure-caption">HTMX-52混合制备系统</figcaption>
    </figure>
    <figure class="figure">
        <img src="./img/hte3_2.jpg" class="figure-img img-fluid rounded" alt="hte3_2">
        <figcaption class="figure-caption">PMS-4合成制备系统</figcaption>
    </figure>
    <figure class="figure">
        <img src="./img/hte3_5.jpg" class="figure-img img-fluid rounded" alt="hte3_4">
        <figcaption class="figure-caption">RSC合成蜡系统</figcaption>
    </figure>
    <figure class="figure">
        <img src="./img/hte3_6.jpg" class="figure-img img-fluid rounded" alt="hte3_6">
        <figcaption class="figure-caption">PPSR-16反应釜系统</figcaption>
    </figure>
</p>

<p class="w-75 p-0 lead text-success">
    亚申HTDMS软件系统
    <ul>
        <li class="w-75">
            工作流软件系统，借助于科研人员友好的、图形化界面的软件工具，用户可设计、修改、根据实验进程修正和重新布局实验运行方案
        </li>
        <li class="w-75">
            运行控制软件系统，以图形化的界面实现对高通量平行反应器系统的底层设备以及界区外辅助设备（包括外设在线分析设备）的操作
        </li>
        <li class="w-75">数据处理软件系统，实时获取实验数据，计算，整合输出分析结果。</li>
    </ul>
</p>

<p class="p-0">
    <figure class="figure">
        <img src="./img/hte4_1.jpg" class="figure-img img-fluid rounded" alt="hte4_1">
        <figcaption class="figure-caption">工作流软件系统</figcaption>
    </figure>
    <figure class="figure">
        <img src="./img/hte4_2.jpg" class="figure-img img-fluid rounded" alt="hte4_2">
        <figcaption class="figure-caption">数据处理软件系统</figcaption>
    </figure>
</p>
