@page
@model IndexModel
@{
    ViewData["Title"] = "官方网站";
}

<div class="col">
    <div class="text-center">
        <h1 class="display-5">高通量设备</h1>
        <p>了解<a asp-area="" asp-page="/HTD">加速新能源新材料的创新</a>.</p>
    </div>
    <div class="row"><img decoding="async" src="~/img/1.jpg" class="rounded-0" alt="HTD"></div>
    <div class="text-center mt-2">
        <h1 class="display-5">产业化应用</h1>
        <p>具有完全自主知识产权的<a asp-area="" asp-page="/FTS">费托合成</a>、<a asp-area="" asp-page="/DMC">柴油酯生产</a>、<a asp-area="" asp-page="/SootlessDiesel">无烟柴油(Sootless Diesel)生产</a>.</p>
    </div>
    <div class="row"><img decoding="async" src="~/img/2.jpg" class="rounded-0" alt="Industrialization"></div>
    <div class="text-center mt-2">
        <h1 class="display-5">国际国内战略合作</h1>
        <p>持续创新<a asp-area="" asp-page="/Innovation">为实现技术成果的产业化奠定坚实基础</a>.</p>
    </div>
    <div class="row"><img decoding="async" src="~/img/3.jpg" class="rounded-0" alt="Partnership"></div>
</div>
