@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="w-75">亚申科技（浙江）有限公司站点使用条款和法律限制</h1>

<div class="w-75">
    <p>注意：请在使用此Web站点之前认真阅读这些条款。使用此Web站点表明您接受这些条款。如果您不接受这些条款（“条款”），请不要使用此Web站点。</p>
    <ul>
        <li>站点的使用<p>亚申科技（浙江）有限公司（“亚申科技”）允许您查看和下载此 Web 站点（“站点”）上的材料，但只能用于个人的、非商业用途，并且在这些材料的任何副本中都必须保留原材料中包含的版权和其它所有权声明。您不能以任何方法修改此站点上的材料，也不能复制或公开展示、实施或分发它们或者以其它方式将它们用于任何公共或商业用途。 严禁在任何其它 Web 站点上或联网的计算机环境中使用这些材料。此站点上的材料享有版权；未经授权而使用本站点上的任何材料都将违反版权法、商标法和其它法律。如果您违反这些条款中的任意一条，您使用此站点的权限将自动终止，您必须立即销毁任何已下载和已打印的材料。</p></li>
        <li>免责声明<p>此站点上的材料（包括所有软件）和服务“按原样”提供，没有任何担保（包括适销性、针对特定目的的适用性和不侵犯知识产权的担保）。亚申科技对于其产品和服务的责任只取决于提供产品和服务所依据的协议，此站点上的任何内容都不能解释为更改此类协议。亚申科技也不保证此站点上材料、软件或服务的准确性和完整性。亚申科技可能会随时对此站点上的材料和服务或者其中介绍的产品和价格进行更改，恕不另行通知。此站点上的材料和服务可能会过期，亚申科技不承诺更新此站点上的材料和服务。此站点上发布的信息可能会涉及到未在您所在国家/地区提供的产品、程序或服务。有关您能够获得的产品、程序和服务的信息，请向当地的亚申科技业务联系人咨询。适用的法律可能不允许排除暗示的担保，因而此排除条款可能对您不适用。</p></li>
        <li>责任限制<p>在任何情况下，无论是根据担保、合同、侵权行为或其它任何法律理论，也无论亚申科技是否被告知有此类损害的可能性，亚申科技及其提供商或此站点中提到的其它第三方均不对由于此站点、链接到此站点的任何 Web 站点或者包含在任何或所有此类站点中的材料、信息或服务的使用、无法使用或使用结果而造成的任何损害负责，包括但不限于由利润损失、数据丢失或业务中断所造成的损害。如果您因使用此站点的材料、信息或服务而需要维护、修理或校正设备或数据，请自行负担因此而产生的所有费用。适用的法律可能不允许排除或限制附带的或间接的损害，因此这些限制或排除条款可能不适用于您。</p></li>
        <li>软件的使用<p>可从此站点下载的任何软件都是亚申科技和/或其提供商享有版权的产品。软件的使用受最终用户许可协议条款（如果有）的制约，该协议（“许可协议”）由软件附带或包含在软件中。除非您已经阅读并接受其许可协议的条款，否则您不能下载或安装任何附带或包含许可协议的软件。除非在适用的许可协议中允许，否则禁止复制或再分发这些软件。</p></li>
        <li>用户提交<p>亚申科技不希望通过此站点接收您发送的机密或专有信息。您发送或张贴到此站点的任何材料、信息或其它通信都将被认为是非机密和非专有的。亚申科技不会对此类通信承担任何责任。亚申科技及被其指派者可以为任何和所有商业或非商业目的而自由地复制、公开、分发、合并这些通信和所有数据、图像、声音、文本以及其中包含的其它内容。 您提交给亚申科技的用于申请工作的个人资料和信息亚申科技将按照公司的保密制度进行处理。 禁止您向此站点张贴或从/向此站点传送任何非法的、恐吓性的、损害他人名誉的、诽谤性的、淫秽的、色情的或其它违反任何法律的内容。</p></li>
        <li>聊天室和其它用户论坛<p>亚申科技可能会（但是没有责任）监视或查看用户在站点上发送或张贴通信或相互之间单独通信的任何区域，包括但不限于聊天室、公告牌或其它用户论坛以及任何此类通信的内容。但是，亚申科技不对任何此类通信的内容承担任何责任，无论是由关于版权、诽谤、隐私、淫秽的法律还是由其它方面的法律引起的责任。 如果任何消息包含被亚申科技视为侮辱性的、诽谤性的、淫秽或因其它原因不可接受的材料，亚申科技保留删除此类消息的权利。</p></li>
        <li>指向第三方 Web 站点的链接<p>此站点上提供指向第三方Web站点的链接纯粹是为了给您提供方便。如果您使用这些链接，您将离开此站点。亚申科技没有全部查看过这些第三方站点；对于任何这类站点或它们的内容，亚申科技既无法控制也不承担任何责任。因此，对于这些站点，或者这些站点上的任何信息、软件或其它产品或资料，或者使用它们可能出现的任何结果，亚申科技既不表示认可，也不做任何陈述。 如果您决定访问链接到本站点的任何第三方 Web 站点，您要自己承担由此而产生的风险。</p></li>
        <li>链接到此站点<p>您可以创建从其它站点到此站点的链接，但是必须遵守亚申科技的Web站点的链接准则中的条款和所有适用的法律。</p></li>
        <li>商标<p>亚申科技以及此处引用的亚申科技产品的名称是亚申科技和/或其相关附属机构的商标和/或服务标志或注册商标和/或注册服务标志。此处提及的其它产品和公司名称可能是它们各自所有者的商标和/或服务标志。</p></li>
        <li>总则<p>亚申科技从其位于浙江的办公室管理此站点。亚申科技没有陈述此站点上的材料或服务在中国之外适用或可得到，在认为这些材料或服务非法的地区会禁止访问这些服务或材料。 在使用、出口或再出口此站点上的材料或服务或任何副本或改写版本时，您不能违反任何适用的法律或法规，包括但不限于中国出口法律和法规。如果您选择从中国之外访问此站点，您应自行决定并应负责遵守适用的当地法律。这些条款将受中华人们共和国法律制约并将根据该法律进行解释，不违背任何有关法律冲突的原则。</p></li>
    </ul>
    <p>亚申科技会随时通过更新此发布内容来修订这些条款。您应时常访问此页面以查看最新的条款，因为这些条款对您具有约束力。这些条款的某些规定可能会由此站点特定页面上明确指定的法律声明或条款取代。</p>
    <p>亚申科技的Web站点的链接准则：</p>
    <ul>
        <li>可以链接到亚申科技内容，但是不能复制其内容</li>
        <li>不应围绕亚申科技内容创建浏览器或边缘环境</li>
        <li>不应暗示亚申科技认可它或它的产品</li>
        <li>不应错误地陈述它与亚申科技的关系</li>
        <li>不应提供有关亚申科技产品或服务的虚假信息</li>
        <li>未经亚申科技许可不应使用亚申科技徽标</li>
        <li>不能包含会被认为讨厌、令人反感或有争议的内容，而只能包含适合所有年龄段的内容</li>
    </ul>
</div>
