@page
@model YashenWebApp.Pages.SootlessDieselModel
@{
    ViewData["Title"] = "无烟柴油(Sootless Diesel)生产";
}

<h1>@ViewData["Title"]</h1>

<div class="">
    <p class="w-75 mt-3">
        无烟柴油是在普通柴油中，按照一定比例添加无烟柴油酯，以特定工艺制备而成。
    </p>
    <img decoding="async" src="~/img/sd1.jpg" class="rounded-0 w-75" alt="sd1">
    <p class="w-75 mt-3">
        无烟柴油酯是实现柴油“无烟”的核心部分，由碳酸二甲酯和一定比例的专用助剂，根据无烟柴油的不同需求，以特定工艺生产而成。
    </p>
    <p class="w-75">
        亚申科技通过对研发技术的革新，利用高通量研发加速技术(HTR&D)，自主开发了碳酸二甲酯生产技术，大幅度降低碳酸二甲酯生产成本，使之应用于无烟柴油经济可行；亚申同时自主研发了专有的无烟柴油酯和配制工艺、无烟柴油多功能复合助剂和制备技术，形成了完整的无烟柴油技术。
    </p>
    <p class="w-75">无烟柴油的全面应用，将极大降低柴油车带来的烟尘和污染物排放，大大改善空气质量，对维护社会环境和公众健康具有深远的影响和现实意义，具有广阔的市场前景。</p>
</div>