@page
@model YashenWebApp.Pages.NewsModel
@{
    ViewData["Title"] = "新闻";
}

<h1>@ViewData["Title"]</h1>



<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/img/news_jiahua1.jpg" alt="亚申PPSR-16E">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">亚申PPSR-16E高通量平行反应釜系统申报省级首台套产品认定</h5>
                <p class="card-text">
                    2022年10月亚申科技自主研发的PPSR-16E高通量平行反应釜系统申报省级首台套产品认定。
                </p>
                <p class="card-text">
                    PPSR-16E高通量平行反应釜系统采用亚申科技国际独创的专有技术，在主要性能指标如温压控制精度、数据处理和分析软件平台等方面，处于国际领先水平。该系统填补了国内空白，将改变国外产品在高端设备市场的垄断地位，并在进口替代、卡脖子技术突破、可配置性强、客制化程度高、提供贴身的本地化服务，比国际竞争对手具有明显优势。
                    PPSR-16E高通量平行反应釜系统可广泛应用于生产企业、研发机构和高校科研。
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/img/news_zhijiangxueyuan.jpg" alt="之江学院">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">高温高压制备特种合成蜡和基础油RSC-600M-3C系统通过客户验收</h5>
                <p class="card-text">
                    2022年1月21日亚申科技向柯桥绿色能源材料联合实验室交付RSC-600M-3C反应系统，并成功通过验收。
                </p>
                <p class="card-text">
                    该反应系统包含固定床反应器和连续搅拌反应器子系统，用于合成气转化等气固反应工业催化剂考评。RSC-600M-3C系统采用模块集成方式，具有很强的灵活性和可扩展性，为新增工艺设备提供了便利。
                </p>
                <p class="card-text"><small class="text-muted">Last updated 10 months ago</small></p>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default p-1">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseOne">
                    北京低碳清洁能源研究院门卓武博士一行来访亚申科技
                </a>
            </h5>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body w-75">
                <p>2023年5月10日，北京低碳清洁能源研究院煤间接液化重大专项中心主任、国家重点研发计划项目负责人门卓武博士、南非科学院院士、Diane院士工作站主要成员刘歆颖教授到亚申科技进行了工作访问和学术交流。</p>
                <p>门卓武博士、刘歆颖教授深入了解了在亚申科技的Diane院士工作站的工作情况。参观了亚申科技重点实验室，与有关项目负责人就产业化技术的开发成果做了学术交流。</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default p-1">
        <div class="panel-heading">
            <h5 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseTwo">
                    南非大学Bhekie B Mamba教授一行日前到亚申科技参观访问
                </a>
            </h5>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body w-75">
                <p>
                    2022年8月16日南非大学Bhekie B Mamba教授一行到亚申科技参观访问和学术与技术交流。
                    Mamba教授为南非大学科学工程与技术学院执行院长，英国皇家化工学会研究员，国际知名环保领域技术专家。Mamba教授参观了亚申科技的实验室和技术放大基地，了解了亚申科技正在进行的研发和产业化推进项目，双方就可以合作的环保技术进行了深入交流。
                </p>
                <p>
                    亚申科技总裁权华博士就成功开发的一系列首创的高通量系统平台，将这一全新的材料开发模式应用于洁净能源领域新材料（特别是新型工业催化剂和新工艺）的开发，以加速推动传统能源产业结构向节能环保产业发展转型中关键技术的突破方面做了深入浅出的介绍。
                    四川轻化工大学教授、博导马建军、姜彩荣等专家，以及政府有关领导陪同参加了参观访问。来宾们对亚申科技的无烟柴油、紧凑型费托产业化技术和高通量新材料及工艺开发系统装备表达了浓厚的兴趣。
                </p>
            </div>
        </div>
    </div>
</div>

